@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(2.0);
		opacity: 1.0;
	}
	to {
		-webkit-transform: scale(4.0);
		opacity: 0;
	}
}

div.gmnoprint[title="marker"] img {
	display:none;
}

.pulse {
	-webkit-animation: 	pulsate 1.5s ease-in-out infinite;
	border:				1pt solid #4682B4;
	border-radius:		100px;
	background-color: 	rgba(0,100,255, 0.1);
}