body{overflow:scroll;}
#site-box1 div {

}

#title{
	width: 98%;
	margin: 1px;
	padding: 2px;
	background: -webkit-gradient(linear,left top, right bottom, from(#CCFF99), to(#99FFCC));
	border-radius: 3px;
}

#contents{
	color :#FFFFFF ;
	padding: 0.7px;
	background-image: url(gassho_no_sato.jpg);
	background-position:center;
	border-radius: 3px;
}

#time{
	margin: 6px;
}

#arigato{
	margin: 5px;
}

#zannen{
	margin: 5px;
}